doctype html
html
  head
    title Now Loading: Procrastinator Spectaculator
    //- inject:css
    //- endinject
  body
    .text-overlay
      h1#overlay-heading
      p#overlay-top-text Hover over party members to customise equipment.
      p#overlay-middle-text  On this outing:
      .character-images
        //- using emoji because I don't have portraits... yet
        span.character-image 👴
        span.character-image 👵
      button#overlay-bottom-text Onwards!
    //- inject:js
    //- endinject
