doctype html
html
  head
    title Now Loading: Procrastinator Spectaculator
    //- inject:css
    //- endinject
  body
    h1 That's Pretty Woomy
    p Indeed, indeed
    footer
      p this is the footer
    //- inject:js
    //- endinject
